.themeColor{
  background-color: #DB3022;
  border-color: #DB3022;
  color: #eaeaeb;
}

.themeColor:hover{
  background-color: #CA3022;
  border-color: #CA3022;
}

.greyColorButton{
  color: #9b9b9b;
  border: 1px solid #9B9B9B;
  background-color: transparent;
}

.greyColorButton:hover{
  background-color: transparent;
  border: 1px solid #DB3022;
  color: #DB3022;
}

.greyColorButton:focus-within{
  background-color: transparent;
  border: 1px solid #DB3022;
  color: #DB3022;
}

h4{
  font-weight: 500;
}

.cardTitle{
  font-weight: 500;
  font-size: 16px;
}

.cardPrice{
  font-weight: 500;
  font-size: 16px;
  color: #DB3022;
}

.cardStore{
  font-weight: 500;
  font-size: 12px;
  color: #9B9B9B;
}

.newThings{
  font-weight: 700;
  font-size: 34px;
}

.greyText{
  font-weight: 400;
  font-size: 12px;
  color: #9B9B9B;
}

.borderImage1{
  border: 1px solid #CC0B04;
  background-color: #CC0B04;
  height: 220px;
}

.borderImage2{
  border: 1px solid #1C3391;
  background-color: #1C3391;
  height: 220px;
}

.borderImage3{
  border: 1px solid #F67B02;
  background-color: #F67B02;
  height: 220px;
}

.borderImage4{
  border: 1px solid #E31F51;
  background-color: #E31F51;
  height: 220px;
}

.borderImage5{
  border: 1px solid #57CD9E;
  background-color: #57CD9E;
  height: 220px;
}

.next-icon{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  right: 0%;
}

.divRow{
  position: relative;
}

.nextCarousel{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 6%;
  top: 35%;
}

.prevCarousel{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 7%;
  top: 35%;
  transform: rotate(180deg);
}

.divImg{
  position: relative;
}

.pAbsolute{
  position: absolute;
  top: 35%;
  font-weight: 700;
  font-size: 38px;
  color: white;
}